@import '../partial/partial';

/*start heroBg*/
.heroBg {
    .modBg {
        background-image: url('../../img-v.1/modules-bg.jpg');
        background-size: cover;
        height: 45vh;
        width: 100vw;
        background-position: center;
        position: relative;
        &::before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            background-color: #00000066;
            width: 100%;
            height: 100%;
        }
        .card-title {
            position: relative;
            z-index: 50;
        }
        .breadText {
            a {
                color: $altColor;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
        .card-img {
            height: 60vh;
        }
        .contactText {
            color: #fff;
            font-weight: 900;
            letter-spacing: 2px;
        }
    }
}

/*modules*/
.modules {
    .cardPrimary {
        @include BoxShadow(0px , 5px , 40px , 0px , rgba(145, 64, 64, 0.09));
        border-radius: 8px;
        border: none;
        i {
            color: $mainColor;
        }
        .card-title {
            color: $altColor;
            font-size: 1.3rem;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .card-text {
            font-size: 0.9rem;
            color: $mainColor;
            i {
                font-size: 0.7rem;
            }
        }
        &:hover {
            h6 , h3 , i , .card-title , .card-text , p {
                color: #fff !important;
            }
        }
    }
}