@import '../partial/partial';

/*start heroBg*/
.heroBg {
    .featBg {
        background-image: url('../../img-v.1/blog-panner.jpg');
        background-size: cover;
        height: 45vh;
        width: 100vw;
        background-position: center;
        position: relative;
        &::before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            background-color: #00000066;
            width: 100%;
            height: 100%;
        }
        .card-title {
            position: relative;
            z-index: 50;
        }
        .breadText {
            a {
                color: $altColor;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
        .card-img {
            height: 60vh;
        }
        .contactText {
            color: #fff;
            font-weight: 900;
            letter-spacing: 2px;
        }
    }
}

/*blog*/
.blog {
    padding: 60px 0 0 0;
    h6 {
        color: $mainColor;
    }
    h1 {
        color: $altColor;
        font-size: 3rem;
        font-weight: bold;
    }
    .card {
        border: none;
        img {
            border-radius: 12px;
            &:hover {
                filter: brightness(0.7);
                cursor: pointer;
                transition: all 1s ease-in-out;
            }
        }
        .card-body {
            padding: 1.25rem 0;
            i {
                color: $mainColor;
            }
            span {
                color: $altColor;
            }
        }
        .card-title {
            color: $altColor;
            font-size: 1.5rem;
            font-weight: bold;
            &:hover {
                color: $mainColor;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
            }
        }
        a {
            .card-text {
                color: $mainColor;
                font-weight: bold;
                letter-spacing: 1px;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}